/Discord Bots/node_modules/
/Discord Bots/oauth.js
/Discord Bots/birthdays.json
/Discord Bots/discordbot.js
/Discord Bots/package-lock.json
/Discord Bots/package.json
/Discord Bots/sports.json
/Discord Bots/animelists.json
/Discord Bots/wordlescores.json
/Twitch Bots/.vscode/
/Twitch Bots/node_modules/
/Twitch Bots/oauth.js
/Twitch Bots/blacklist.js
/Twitch Bots/chatCommands.json
/Twitch Bots/commands.json
/Twitch Bots/customCommands.js
/Twitch Bots/favviewer.txt
/Twitch Bots/fuyumicommands.json
/Twitch Bots/fuyumicommands(backup).json
/Twitch Bots/height.json
/Twitch Bots/kirikacommands.json
/Twitch Bots/kirikacommands(backup).json
/Twitch Bots/kirikaquotes.json
/Twitch Bots/main.js
/Twitch Bots/package-lock.json
/Twitch Bots/package.json
/Twitch Bots/streamlabels.js
/Twitch Bots/streamstats.txt
/Twitch Bots/subcount_text_source.txt
/Twitch Bots/subcount.txt
/Twitch Bots/textsource.txt
/Twitch Bots/totallyfurryporn.py
/Twitch Bots/viewers.json
/Twitch Bots/yikes.json